# Go build outputs
ut
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Build artifacts
bin/
build/
dist/

# Coverage
coverage*

# Logs
*.log

# OS / Editor files
.DS_Store
.idea/
.vscode/
*.swp
*.swo

